
*.pyc

*.sw?

*.*~

.*/

*/.*/

*/*/.*/

src/basetypes\.F90
src/containertypes\.F90
src/hashmap_impl\.F90
src/hashmap\.F90
src/item\.F90
src/list\.F90
src/ref\.F90
src/string\.F90

lib/

vc2010/*.u2d

libfortres/bin/

libfortres/vc2010/*.user

test/exe/

*.u2d

*.user

\.svn/

*.i90

libfortres/release/

/_*/
