
*.pyc

*.sw?

*.*~

\.work/

*/\.work/

*/*/\.work/

src/basetypes\.f90
src/containertypes\.f90
src/hashmap_impl\.f90
src/hashmap\.f90
src/item\.f90
src/list\.f90
src/ref\.f90
src/string\.f90

lib/

vc2010/*.u2d

libfortres/bin/

libfortres/vc2010/*.user

test/exe/

*.u2d

*.user

\.svn/

*.i90

libfortres/release/

/_*/
