
lib/

*.pyc

vc2010/\.work/

libfortres/vc2010/\.work/

libfortres/bin/Debug/

libfortres/bin/Release/

*.swp

basetypes\.f90

containertypes\.f90

hashmap_impl\.f90

hashmap\.f90

item\.f90

list\.f90

ref\.f90

string\.f90

libfortres/vc2010/libfortres\.vcxproj\.user

vc2010/libadt\.u2d
